Repository NobbZ/nix-janitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, alejandra

cargo-fmt:
  name: Cargo Format
  language: system
  entry: cargo fmt --check
  pass_filenames: false

alejandra:
  name: Alejandra
  language: system
  entry: nix fmt -- --check

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add CLI flag to generate shell completions
  Cargo.lock
  Cargo.nix
  Cargo.toml
  src/bin/janitor.rs
  src/interface.rs
Due: cargo-fmt

fix: skip empty jobsets
  src/bin/janitor.rs
Due: cargo-fmt

chore: what happened here
  Cargo.lock
  Cargo.nix
Due: none

chore: fixup CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: remove cargo 2 nix
  flake.lock
  flake.nix
Due: alejandra

chore: delete now unnecessary `Cargo.nix`
  Cargo.nix
Due: none

chore: set MSRV
  Cargo.toml
  rust-toolchain
Due: none

flake.lock: Update
  flake.lock
Due: none

Path conditions:
  cargo-fmt: any of: .*\.rs$
  alejandra: any of: .*\.nix$, but not: ^Cargo.nix$
